<div ng-controller="adminCtrl">
<h1>ADMIN</h1>   
      <a ng-show ="allShow" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons" ng-click="addNewQuest()">Add</i></a>

  <div class="allQuests" ng-show="allShow">

      <div class="row"  ng-repeat="quest in allQuests track by $index">
        <div class="col s6 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{quest.category}}</span>
              <p>Question: {{quest.question}}</p>
              <p>Hint: {{quest.hint}}</p>
              <p>Answer: {{quest.answer}}</p>
            </div>
            <div class="card-action">
              <a ng-click="modifyQ(this)">Modify</a>
              <a ng-click="deleteQ(this)">Delete</a>
            </div>
          </div>
        </div>
  
      </div>  
  </div>


    <form class="col s12" ng-show="modShow">
      <div class="row">
        <div class="input-field col s6">
          <input id="category" type="text" class="validate" ng-model="update.category">
          <label class ="active" for="Category">Category: </label>
        </div>
        <div class="input-field col s6">
          <input id="question" type="text" class="validate" ng-model="update.question">
          <label class ="active" for="question">Question: </label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input class ="validate" id="hint" type="text" ng-model="update.hint">
          <label class ="active" for="hint">Hint: </label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="answer" type="text" class="validate" ng-model="update.answer">
          <label class ="active" for="answer">Answer: </label>
        </div>
      </div>
      <div class="row">
  <button ng-click ="updateQ(this)" class="btn waves-effect waves-light" type="submit" name="update">Update
  </button>
  <button ng-click ="quitUpdate()" class="btn waves-effect waves-light" type="submit" name="quit">Exit
  </button>
      </div>
    </form>
      
<div class="addNewQ" ng-show="addShow">
      <form name ="addNew" class="col s12" >
      <div class="row">
        <div class="input-field col s6">
          <input required id="category" type="text" class="validate" ng-model="newQ.category">
          <label class ="active" for="Category">Category: </label>
        </div>
        <div class="input-field col s6">
          <input required id="question" type="text" class="validate" ng-model="newQ.question">
          <label class ="active" for="question">Question: </label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input required id="hint" type="text" ng-model="newQ.hint">
          <label class ="active" for="hint">Hint: </label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input required id="answer" type="text" class="validate" ng-model="newQ.answer">
          <label for="answer">Answer: </label>
        </div>
      </div>
      <div class="row">
  <button ng-disabled="!(!!newQ.category && !!newQ.question  && !!newQ.hint && !!newQ.answer)" ng-click ="addNewQ(newQ)" class="btn waves-effect waves-light" type="submit" name="Add">Add
  </button>
  <button ng-click ="quitAdd()" class="btn waves-effect waves-light" type="submit" name="quit">Exit
  </button>
      </div>
    </form>
</div>



</div>