      <div class="section no-pad-bot" id="index-banner" ng-controller="mainCtrl">
        <div class="container">
          <br><br>
          <h1 class="header center orange-text">Challenge Yourself!</h1>
          <div class="row center">
            <h5 class="header col s12 light">Everyday flashcards for kickass students</h5>
          </div>
          <br><br>

        </div>
      </div>


<div class="container">
  <div class="collection" ng-repeat="item in categories track by $index">

    <a href="#!" class="collection-item">{{item.category}}<span class="new badge">4</span></a>

  </div>
</div>

